.form_line label
 font-weight: bold

.form_line
 margin-left: 25px

.form_line > table
 margin-left: 25px
 #border-collapse: separate
 #border-spacing: 2px
 #border-color: gray

.form_line > table td
 border: 1px solid gray
 border-collapse: collapse

.form_line > table th
 border: 1px solid gray
 border-collapse: collapse

dl > dt
 margin-left: 10px
 font-weight: bold

dl > dd
 margin-left: 25px

.error_message
 text-align: center
 color: red
 font-weight: bold
 font-size: 1.5em
