.form_line label
 font-weight: bold

.form_line
 margin-left: 25px

.form_line > table
 margin-left: 25px
 #border-collapse: separate
 #border-spacing: 2px
 #border-color: gray

@mixin table-lines
 border: 1px solid gray
 border-collapse: collapse
 

.form_line > table td
 @include table-lines

.form_line > table th
 @include table-lines

.report table td
 @include table-lines

.report table th
 @include table-lines

dl > dt
 margin-left: 10px
 font-weight: bold

dl > dd
 margin-left: 25px

#error_message
 text-align: center
 color: red
 font-weight: bold
 font-size: 1.5em

.stats
 margin-top: 10px
 margin-bottom: 15px
 font-size: 0.8em
