- @input.each_pair do |key, val|
 %td
  - @data.key = val["default"] if val["default"] and @data.try(key).nil?
  = render_cell :"request_#{val["type"] || "string"}", :display, :key => key, :val => val, :form => @form, :input => @input[key], :data => @data

