%span.label #{@config["title"] || @key}
%table
 %tr
  - @columns.each do |column|
   %th #{@config["content"][column]["title"]} (#{column})
 - @data.each do |data_row|
  %tr
   = render_cell :report_array, :display_row, :order => @columns, :row => data_row, :config => @config["content"], :enums => @enums
